table {
    margin: auto;
    margin-top: 25px;
    width: 100%;
    height: 500px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .rcf-card {
    margin-top: 25px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    background-color: #fafafa;
  }

  .row {
    margin-left: 100px;
    margin-right: 100px;
  }

  .home-container {
      display: flex;
      flex-direction: column;
      // background-color: #fafafa;
      margin-left: 100px;
      margin-right: 100px;
  }

  div > mat-form-field {
    height: auto;
    width: 250px;
    margin-top: 15px;
  }

  .form-field-container {
      display: flex;
  }

  .top-row {
      margin-top: 100px;
  }

  .form-card {
    max-width: 40%;
    height: auto;
    min-height: 300px;
    margin-left: auto;
  }

  .time-options-row {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .left-input {
      margin-left: auto
  }

  .left-span {
    margin-left: 0;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
  }

  .centered-span {
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .error-txt {
    text-align: center;
    color: #ff5447;
  }

  .long-span {
    width: 75%;
  }

  .right-span {
      margin-left: 0;
      font-size: 18pt;
      font-weight: 600;
      text-align: center;
  }

  .form-container {
    display: flex;
    width: 250px;
    height: auto;
    flex-direction: column;
    margin: auto;
  }

  .no-padding {
    padding: 0;
  }

  .table-container {
      overflow: auto;
      margin-top: 25px;
      width: auto;
      height: 500px;
      box-shadow: 1px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 6px;
      background-color: #fff;
  }

  table.mat-table {
      margin-top: 0;
  }

  tr.mat-header-row {
    background-color: #fafafa;
  }

  tr.mat-footer-row, tr.mat-row:hover {
      background-color: lightblue;
  }

  .rcf-form {
      display: flex;
      flex-direction: column;
  }

  .form-input {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-top: 25px;
  }

  .submit-btn {
      background-color: lightblue;
      width: 65%;
      margin: auto;
      margin-top: 25px;
  }

  .highlighted-row {
    background-color: #98f5d6;
  }

  .success-btn {
    background-color: #5cb85c;
    color: #fff;
  }

  @media only screen and (max-width: 767px) {
      .form-card {
          max-width: 100%;
      }

      form {
        margin-bottom: 25px;
      }

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      .bottom-row {
        margin-bottom: 150px;
      }
      
      .form-container {
        width: 100%;
      }

      .home-container {
        margin-left: 25px;
        margin-right: 25px;
      }
  }