<div class="home-container">
    <div class="row top-row rcf-card">
        <div class="col-xs-12 col-lg-6 time-options-row">
            <div class="form-container">
                <span class="left-input left-span">Pick a date</span>
                <mat-form-field class="left-input form-input">
                    <mat-label>Input & change events</mat-label>
                    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="newFilter" (dateInput)="addEvent('input', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 time-options-row">
            <div class="form-container">
                <span class="right-span">Pick a time length</span>
                <mat-form-field class="form-input">
                    <mat-label>Time Options</mat-label>
                    <mat-select (selectionChange)="newSelection($event)" [(value)]="selectedTime">
                        <mat-option *ngFor="let time of timeOptions" [value]="time.id">
                            {{time.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row bottom-row" [@slideInOut] *ngIf="selectedDate">
        <div class="col-xs-12 col-md-6 no-padding rcf-card">
            <div class="title-container">
                <span class="centered-span">Pick a Time Slot</span>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="formattedDisplay">
                      <th mat-header-cell *matHeaderCellDef> Time </th>
                      <td mat-cell *matCellDef="let element"> {{element.formattedDisplay}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="slotsOpen">
                      <th mat-header-cell *matHeaderCellDef> Slots available </th>
                      <td mat-cell *matCellDef="let element"> {{element.slotsOpen}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="timeSlotSelected(row)" [ngClass]="{'highlighted-row': highlightSelectedRow(row)}"></tr>
                  </table>
                </div>
        </div>

        <div class="col-xs-12 col-md-6 rcf-card form-card no-padding">
            <div class="title-container">
                <span class="centered-span long-span">Enter your information</span>
            </div>
            <form [formGroup]="newSlotFormGroup" class="rcf-form" (ngSubmit)="submitSlot()">
                <mat-form-field class="full-width form-input">
                    <mat-label>name</mat-label>
                    <textarea formControlName="name" matInput></textarea>
                </mat-form-field>
                <mat-form-field class="full-width form-input">
                    <mat-label>Email</mat-label>
                    <textarea formControlName="email" matInput></textarea>
                </mat-form-field>
                <button mat-button type="submit" class="submit-btn" [ngClass]="{'success-btn': successfulSubmit}" [disabled]="newSlotFormGroup.invalid || !selectedTime">{{submitButtonText}}</button>
            </form>
        </div>
    </div>

</div>